<h1>Songs Count</h1>
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">User Name</th>
      <th scope="col">Title</th>
      <th scope="col">Times Added</th>
    </tr>
  </thead>
  <% @song.users.uniq.each do |user| %>
  <tbody>

    <tr>
      <td><%= user.first_name %></td>
      <td><%= @song.title %></td>
      <td><%= @song.user_playlists.where(user_id: user.id).count %></td>
    </tr>

  </tbody>
  <% end %>
</table>
